html, body {
  background: #fdf6e3;
}

h1 {
  margin: 4px 0;
}

iframe#status {
  position: absolute;
  top: 76px;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  min-height: 850px; /* Tuned to jeff's laptop */
  width: 100%;
}

img#qr {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  margin: auto;
  opacity: 0.6;
  mix-blend-mode: multiply; /* Makes "whiteness" "transparent" */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 2px 8px;
  margin: 2px 4px;
  display: inline-block;
  border-radius: 2px;
  font-size: 24px;
  font-family: sans;
}
li.present {
  background-color: #859900;
  float: left;
}
li.absent {
  background-color: #dc322f;
  float: right;
}

ul#unknownMACs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 45%;
  margin: auto;
  overflow: hidden;
}
li.unknown {
  font-size: 14px;
  font-style: italic;
  color: #cec8b5;
}